.fungus_card {
    &_image {
        opacity: 0.2;
        transition: opacity 1s ease-in-out;
    }

    &:hover {
        .fungus_card_image {
            opacity: 0.8;
        }
    }

    a {
        text-decoration: none;
    }
}