$defaultPixels: 12px;

.fungus_drawer {
    > div:not(.fungus_drawer_paper) {
        opacity: 0.25 !important;
    }

    &_list {
        overflow-y: scroll;
        width: 255px;
    }

    &_filter,
    &_search,
    &_add {
        padding: $defaultPixels;
        width: 100%;
    }

    hr {
        margin-bottom: $defaultPixels;
    }

    &_add > div {
        margin-bottom: $defaultPixels;
    }
}

.fungus_unhide_dialog {
    &_buttons {
        display: flex;
        justify-content: space-evenly;
    }
}