.fungus_map {
    height: 85vh;
    width: 100%;

    &.add_enabled {
        cursor: crosshair;
    }

    &_header {
        display: flex;
        justify-content: space-between;

        @media (max-width: 400px) {
            h1 {
                font-size: 2rem;
            }
        }
    }
}
