.fungus_card {
    min-width: 300px;
    max-width: 400px;

    &_image {
        position: relative;
        opacity: 0.5;
        transition: opacity 1s ease-in-out;
        width: 100%;

        img {
            width: inherit;
        }
    }

    &:hover {
        .fungus_card_image {
            opacity: 1;
        }
    }

    a {
        text-decoration: none;
    }

    @media (max-width: 1439px) {
        width: 75vw;

        &_image img {
            max-height: 50vh;
        }
    }
}

.fungus_delete_dialog {
    &_buttons {
        display: flex;
        justify-content: space-evenly;
    }
}