.fungus_card {
    width: 400px;

    &_image {
        position: relative;
        opacity: 0.5;
        transition: opacity 1s ease-in-out;
        // height: 200px;
        width: 400px;
    }

    &:hover {
        .fungus_card_image {
            opacity: 1;
        }
    }

    a {
        text-decoration: none;
    }
}

.fungus_delete_dialog {
    &_buttons {
        display: flex;
        justify-content: space-evenly;
    }
}